.vscode/

dist/
build/
*.egg-info/

__pycache__/
*.py[cod]
*.log
*.tmp
*.cache

*.ipynb_checkpoints
*.nbconvert.ipynb

# Data
data/processed/

# OS-specific
.DS_Store
Thumbs.db

*.env
.env.*
token.json
openai_api_key.txt

venv/
.env/
env/

vectorstore/
*.faiss
*.pkl
*.npy
